@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

/*********** GENERAL ***********/

body {
	background-color: rgb(233, 233, 233);
}

/*********** HEADING *************/

h1 {
	font-size: 115px;
	text-align: center;
}

/***************** CONTENT ******************/

.btn-radius-25 {
	border-radius: 25px;
}

.z-index-background {
	z-index: 5;
	width: 100%;
}

.additionnal-padding {
	padding: 3em 1em 3em 1em;
}

.btn-default-size {
	width: 200px;
	height: 50px;
}

.default-size-card {
	height: 600px;
}

.expanded-main-card {
	height: 650px;
}

.no-border {
	border: 0;
}

.border {
	border-bottom: solid 0.75px;
	color: black;
}

.cards-pricing {
	display: flex;
	justify-content: center;
	width: 100%;

	> div {
		display: grid;
		place-items: center;
	}
}

.bg-color {
	background-color: $main-bg-color;
	color: $font-color;
}
.rounded-l {
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.rounded-r {
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.grid-center {
	display: grid;
	place-items: center;
}

.star-icon-style {
	background-color: #ffffff;
	transform: translateY(-32px);
	width: 25px;
	margin: auto;
}

.grid-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	place-items: center;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'int dec'
		'int duration';
}
.int {
	grid-area: int;
	font-size: 64px;
}
.dec {
	grid-area: dec;
}
.duration {
	grid-area: duration;
}

/******** COLORS SECTIONS **********/

button:hover {
	background-color: $main-bg-color !important;
}

.citrus-element {
	color: $citrus-color;
}

.turquoise-element {
	color: $darker-color-sections;
}

.bg-color-banneer-w {
	background-color: #ffffff;
	opacity: 70%;
}

.bg-color-banneer-t {
	background-color: $main-bg-color;
	opacity: 70%;
}

.cpf-style {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cpf-logo {
	width: 150px;
	height: 100px;
}

.footer-color {
	background-color: $darker-color-sections;
	color: $font-color;
}

.font-12 {
	font-size: 12px;
}

.font-14 {
	font-size: 14px;
}

a {
	color: white;
}

a:hover {
	color: $main-bg-color;
}

footer a:hover {
	color: $citrus-color;
}

.turquoise-txt {
	color: $darker-color-sections;
}

.topnav-links {
	color: rgb(41, 41, 41);
}

.btn-color {
	background-color: #1a6b63;
	color: #ffffff;
}

.font-white {
	color: #ffffff;
}

/*********** QUERIES ************/

.svg-test {
	@include media-breakpoint-down(sm) {
		display: none;
	}
	@include media-breakpoint-up(sm) {
		display: block;
		width: 640px;
	}
	@include media-breakpoint-up(md) {
		width: 800px;
	}
	@include media-breakpoint-up(lg) {
		width: 900px;
	}
	@include media-breakpoint-up(xl) {
		width: 940px;
	}
}
