@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.btn-radius-25 {
    border-radius: 25px;
}

.btn-content-spacing {
    padding-left: 1.5em;
}
/***************** HEADER ******************/

/***************** CONTENT ******************/

/***************** PRE-FOOTER ***************/

/***************** FOOTER ******************/

.cards-pricing {
    display: flex;
    align-items: baseline;
}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.z-index-background {
    z-index: 5;
    width: 100%;
}

.additionnal-padding {
    padding: 3em 1em 3em 1em;
}

.btn-default-size {
    width: 200px;
    height: 50px;
}

.default-size-card {
    height: 500px;
}

.expanded-main-card {
    height: 550px;
}

.no-border {
    border: 0;
}

.shading {
    box-shadow: 0px 2px 8px #777777;
}

.frequent-questions {
    width: 50%;
}

.questions-list {
    width: 50%;
}

.border-bottom {
    border-bottom: solid black;
}

.nav-network {
    color: $icons;
    display: flex;
}

.frequently-asked {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-pricing {
    display: flex;
    justify-content: center;
    width: 100%;

    > div {
        display: grid;
        place-items: center;
    }
}

.banneer-style {
    display: flex;
}

.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
