<div class="footer-section">
	<div class="footer-infos bg-color additionnal-padding footer-infos">
		<div class="left-part footer-blocks">
			<h6>
				HYPNOLEDGE
			</h6>
			<nav class="nav footer-blocks">
				<a class="nav-link" href="#">La méthode</a>
				<a class="nav-link" href="#">Les hypnoboost</a>
				<a class="nav-link" href="#">Tarifs</a>
				<a class="nav-link" href="#">FAQ</a>
				<a class="nav-link" href="#">Blog</a>
			</nav>
			<h6>
				ORGANISATIONS
			</h6>
			<nav class="nav footer-blocks">
				<a class="nav-link" href="#">Éducation</a>
				<a class="nav-link" href="#">Entreprise</a>
			</nav>
		</div>
		<div class="middle-part">
			<h6>
				SUPPORT &#38 Contact
			</h6>
			<nav class="nav footer-blocks">
				<a class="nav-link" href="#">Pour les professionnels</a>
				<a class="nav-link" href="#">Abonnement premium</a>
				<a class="nav-link" href="#">Nouveau sur Hypnoledge</a>
				<a class="nav-link" href="#">Utiliser Hypnoledge</a>
				<a class="nav-link" href="#">Paramètres du profil</a>
				<a class="nav-link" href="#">Problèmes techniques</a>
				<a class="nav-link" href="#">Confidentialité sur Hypnoledge®</a>
			</nav>
		</div>
		<div class="right-part">
			<h6>
				LES COURS
			</h6>
			<nav class="nav footer-blocks font-color">
				<a class="nav-link" href="#">Apprendre l'anglais sous hypnose</a>
				<a class="nav-link" href="#">Apprendre l'espagnol sous hypnose</a>
				<a class="nav-link" href="#">Apprendre l'allemand sous hypnose</a>
				<a class="nav-link" href="#">Apprendre l'italien sous hypnose</a>
				<a class="nav-link" href="#">Apprendre le français sous hypnose</a>
				<a class="nav-link" href="#">Apprendre le mandarin sous hypnose</a>
			</nav>
		</div>
		<div class="partnership">
			<div class="partners">
				<h6>
					NOS PARTENAIRES
				</h6>
                <div class="partners-img">
				    <img src="{{ asset('build/images/logo-nvlle-aquitaine.png') }}" alt="Logo Nouvelle Aquitaine" />
				    <img src="{{ asset('build/images/region-start-up.png') }}" alt="Logo Region Start Up" />
                </div>
			</div>
            <div class="social-networks">
				<h6>
					REJOINDRE LES HYPNOLEDGERS
				</h6>
					<nav class="nav-network">
						<a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
						<a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
						<a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
						<a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
						<a class="nav-link" href="#"><i class="fas fa-play"></i></a>
					</nav>
				<div class="app-stores padding-pre-footer">
					<img src="{{ asset('build/images/appstore-logo.png') }}" alt="Apple Store Logo" />
					<img src="{{ asset('build/images/playstore-logo.png') }}" alt="Playstore Logo" />
				</div>
			</div>
		</div>
	</div>
	<div class="footer-banneer footer-color">
		<p>
			Copyright® 2018 — 2021 Hypnoledge. Tous droits réservés.
		</p>
	</div>
</div>
