<div class="row p-5">
	<div class="col-3">
		<h6 class="pb-4 font-14">
			HYPNOLEDGE
		</h6>
		<ul class="list-unstyled">
			<li class="font-12 pb-2"><a href="#">La méthode</a></li>
			<li class="font-12 pb-2"><a href="">Les hypnoboost</a></li>
			<li class="font-12 pb-2"><a href="">Tarifs</a></li>
			<li class="font-12 pb-2"><a href="">FAQ</a></li>
			<li class="font-12 pb-2"><a href="">Blog</a></li>
		</ul>
		<h6 class="pb-4 font-14">
			ORGANISATIONS
		</h6>
		<ul class="list-unstyled">
			<li class="font-12 pb-2"><a href="#">Éducation</a></li>
			<li class="font-12 pb-2"><a href="">Entreprise</a></li>
		</ul>
	</div>
	<div class="col-3">
		<h6 class="pb-4 font-14">
			SUPPORT &#38 Contact
		</h6>
		<ul class="list-unstyled">
			<li class="font-12 mt-1 mb-1 pb-3"><a href="#">Pour les professionnels</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Abonnement premium</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Nouveau sur Hypnoledge</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Utiliser Hypnoledge</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Paramètres du profil</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Problèmes techniques</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Confidentialité sur Hypnoledge®</a></li>
		</ul>
	</div>
	<div class="col-3">
		<h6 class="pb-4 font-14">
			LES COURS
		</h6>
		<ul class="list-unstyled">
			<li class="font-12 mt-1 mb-1 pb-3"><a href="#">Apprendre l'anglais sous hypnose</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Apprendre l'espagnol sous hypnose</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Apprendre l'allemand sous hypnose</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Apprendre le français sous hypnose</a></li>
			<li class="font-12 mb-1 pb-3"><a href="">Apprendre le mandarin sous hypnose</a></li>
		</ul>
	</div>
	<div class="col-3">
		<h6 class="pb-4 font-14">
			NOS PARTENAIRES
		</h6>
		<div class="partners p-1 mb-4 d-flex">
			<div class="nv-aquitaine mr-4">
				<img src="{{ asset('build/images/logo-nvlle-aquitaine.png') }}" alt="Logo Nouvelle Aquitaine" />
			</div>
			<div class="region-start-up">
				<img src="{{ asset('build/images/region-start-up.png') }}" alt="Logo Region Start Up" />
			</div>
		</div>
		<h6 class="pb-4 font-14">
			REJOINDRE LES HYPNOLEDGERS
		</h6>
		<ul class="list-unstyled d-flex">
			<li class="font-14 mr-3 pt-2 pb-2"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li class="font-14 mr-3 pt-2 pb-2"><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li class="font-14 mr-3 pt-2 pb-2"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
			<li class="font-14 mr-3 pt-2 pb-2"><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li class="font-14 mr-3 pt-2 pb-2"><a href="#"><i class="fas fa-play"></i></a></li>
		</ul>
		<img src="{{ asset('build/images/appstore-logo.png') }}" alt="Apple Store Logo" />
		<img src="{{ asset('build/images/playstore-logo.png') }}" alt="Playstore Logo" />
	</div>
</div>
<div class="row footer-color p-2">
	<div class="col-12">
		<p class="grid-center">
			Copyright® 2018 — 2021 Hypnoledge. Tous droits réservés.
		</p>
	</div>
</div>
