<div class="row justify-content-center p-5">
    <div class="col-5">
        <h5>Questions fréquentes</h5>
		<p>
			When I was a young man, even a teenager for that matter, I always had an optimism that was hard for others
			to overcome. Even in the midst of the all the negative influences from family and peers, this positive
			optimism was difficult to beat down.
		</p>
	<div class="col text-left">
        <a class="nav-link  topnav-links" href="#">Accéder au support <i class="fas fa-angle-right"></i></a>
    </div>
    </div>
    <div class="col-5">
		<ul class="list-group border-bottom">
			<li class="list-group-item border-bottom">De quoi est composé mon abonnement?</li>
			<li class="list-group-item border-bottom">Que propose le pack famille comparé au pack solo?</li>
			<li class="list-group-item">Comment arrêter mon abonnement?</li>
		</ul>
	</div>
</div>
<div class="row justify-content-center">
    <div class="col-12 footer-color">
		<div class="row p-5">
    		<div class="col">
				<img src="{{ asset('build/images/LOGO-white.png') }}" alt="Hypnoledge Logo white" />
			</div>
    		<div class="col text-right">
				<button type="button" class="btn btn-light btn-radius-25">Commencer à apprendre</button>
			</div>
    	</div>
	</div>
</div>