<div class="container">
    <div class="row justify-content-center">
        <div class="col">
        	<h5>Questions fréquentes</h5>
			<p>
				When I was a young man, even a teenager for that matter, I always had an optimism that was hard for others
				to overcome. Even in the midst of the all the negative influences from family and peers, this positive
				optimism was difficult to beat down.
			</p>
        </div>
        <div class="col">
			<ul class="list-group border-bottom">
				<li class="list-group-item border-bottom">De quoi est composé mon abonnement?</li>
				<li class="list-group-item border-bottom">Que propose le pack famille comparé au pack solo?</li>
				<li class="list-group-item">Comment arrêter mon abonnement?</li>
			</ul>
	</div>
    <div class="row justify-content-center">
        <div class="col">
		    <img src="{{ asset('build/images/LOGO-white.png') }}" alt="Hypnoledge Logo white" />
        </div>
        <div class="col">
		    <button type="button" class="btn btn-light btn-radius-25">Commencer à apprendre</button>
	    </div>
    </div>
	<p class="border-bottom"></p>
</div>
