<div class="pre-footer-banneer">
    <div class="frequent-questions">
        <h6>Questions fréquentes</h6>
            <p>When I was a young man, even a teenager for that matter, 
            I always had an optimism that was hard for others to overcome. 
            Even in the midst of the all the negative influences from family and peers, 
            this positive optimism was difficult to beat down.
            </p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Questions fréquentes</a>
                </li>
            </ul>
    </div>
    <div class="questions-list">
        <ul class="list-group">
            <li class="list-group-item">De quoi est composé mon abonnement?</li>
            <li class="list-group-item">Que propose le pack famille comparé au pack solo?</li>
            <li class="list-group-item">Comment arrêter mon abonnement?</li>
        </ul>
    </div>
    <div class="banneer-hypno">
        <img src="{{ asset('build/images/LOGO-white.png') }}" alt="Hypnoledge Logo white">
        <button type="button" class="btn btn-light">Commencer à apprendre</button>
    </div>
    <p class"border-bottom">test</p>
</div>