<div class="pre-footer-banneer">
    <div class="frequent-questions">
        <h6>Questions fréquentes</h6>
            <p>When I was a young man, even a teenager for that matter, 
            I always had an optimism that was hard for others to overcome. 
            Even in the midst of the all the negative influences from family and peers, 
            this positive optimism was difficult to beat down.
            </p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Questions fréquentes</a>
                </li>
            </ul>
    </div>
    <div class="questions-list">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
        </ul>
    </div>
</div>