<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="{{ asset('build/images/LOGO.svg') }}" alt="Hypnoledge Logo">








    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 ml-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Organisations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tarifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Se connecter</a>
        </li>
      <button type="button" class="btn btn-info btn-radius-25 shading">Commencer à apprendre</button>
    </div>
  </div>
</nav>