<div class="row justify-content-center">
    <div class="col-12 p-2">
        <div class="col">
          <img src="{{ asset('build/images/LOGO.svg') }}" alt="Hypnoledge Logo">
        </div>
        <div class="col">
          <a class="nav-link  topnav-links" href="#">Organisations <i class="fas fa-angle-down"></i></a>
        </div>
        <div class="col">
          <a class="nav-link  topnav-links" href="#">Tarifs</a>
        </div>
        <div class="col">
          <a class="nav-link  topnav-links" href="#">Se connecter</a>
        </div>
        <div class="col">
          <button type="button" class="btn btn-color btn-radius-25 shading">Commencer à apprendre</button>
        </div>
    </div>
</div>
