<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>
			{% block title %}
				Hypnoledge - Apprenez une langue étrangère sous hypnose
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> #}

	</head>
	<body>
	  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

		{% block header %}
			{% include '_topnav.html.twig' %}
		{% endblock %}
		<div class="container">
			{% block body %}

			{% endblock %}
		</div>
		<div class="container-fluid">
			{% include '_prefooter-banneer.html.twig' %}
		</div>

		<footer class="container-fluid bg-color font-12">
			{% include '_footer.html.twig' %}
		</footer>
		{# {% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %} #}
	</body>
</html>
